<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-title>
			Blank
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<br/>
	<ion-grid>
		<ion-row
				justify-content-center>
			<ion-col
					class = "someclass"
					size="3">
				<div>links</div>
			</ion-col>
			<ion-col
					size="9"
					class="align-text-middle"
					text-center>
				<ion-item id="input">
					<ion-label position="floating">Floating Label</ion-label>
					<ion-input text-center>
					</ion-input>
				</ion-item>
			</ion-col>
		</ion-row>
	</ion-grid>
	<br/>


</ion-content>

<!-- https://parithi.com/how-to-build-a-responsive-login-form-using-ionic-4-7a74b776884d -->
