#container {
  text-align: left;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 12px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

#containertwo {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(50%);
}

#button {
  color: #8c8c8c;
  font-size: xx-large;
  width: 300px;
  margin-left: 200px;
  align-items: center;
  position: absolute;
  transform: translateY(400px);

}

#input {
  width: 300px;
  margin-bottom: 100px;
  position: center;
}



#break {
  margin-top: 400px;
}
